@import url("https://fonts.googleapis.com/css2?family=Permanent+Marker&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Sour+Gummy:ital,wght@0,100..900;1,100..900&display=swap");
:root {
  --main-color: black;
  --secondary-color: rgb(109, 14, 109);
  --textbox-color: rgb(109, 14, 109);
  --purple: rgb(109, 14, 109);
  --text_color: black;
  --light-purple: #8C52FF;
  --darklightpurple: #6e41c9;
  --pink: #E260D9;
  --titlefont: "Permanent Marker";
  --font: "Sour Gummy";
}

html {
  background-color: var(--main-color);
  background-image: url("img/splatters.svg") !important;
}

body {
  font-family: var(--font);
}

.intro {
  padding-top: 8px !important;
  font-weight: 500;
  font-size: 0.95em;
  text-align: center;
}

p {
  font-size: 1.2em;
  color: var(--text-color);
}
p a {
  font-size: 1.1em;
  text-decoration: underline;
  color: var(--darklightpurple);
}

h2 {
  font-weight: 800;
  color: var(--darklightpurple);
  font-family: var(--titlefont);
  text-align: center;
  margin-top: 10px;
  margin-bottom: 12px;
}

h5 {
  font-family: var(--titlefont);
  font-size: 1.1em;
}

.foto {
  text-align: center;
  padding-top: 16px;
}

.page-footer {
  margin-top: 50px;
  margin-bottom: 0;
  background-color: var(--darklightpurple);
}

.collection-item {
  color: var(--secondary-color) !important;
}

.line {
  background-image: url("img/line-cropped.svg");
  background-repeat: no-repeat;
  background-size: 100% 100% !important;
  width: 100% !important;
  height: 20px;
}

.collapsible-body {
  padding-top: 4px;
}

.highlighted_pink {
  margin-top: 8px;
  font-family: var(--titlefont);
  font-weight: bolder;
  text-align: center;
  margin-left: 40px;
  margin-right: 40px;
}

.social-icon {
  color: black;
  /* Dark Grey (Materialize grey darken-2) */
  transition: color 0.3s ease;
  /* Smooth fade effect */
}

/* Hover State */
.social-icon:hover {
  filter: drop-shadow(4px 4px 10px var(--pink));
  background-color: transparent;
  /* Optional: Removes the gray box background */
}

.paper {
  max-width: 950px;
  padding-bottom: 32px;
  margin: 2em auto;
  background: #fff;
  box-shadow: 4px 4px 0 var(--light-purple);
  background-image: linear-gradient(90deg, #fff 12px, 0, #3f4040 15px, 0, transparent 20px, 0, #fff 100%), radial-gradient(circle closest-side, rgba(255, 255, 255, 0) 88%, #fff 100%), radial-gradient(circle at 22px 8px, #000000 40%, #00486B 40%, #61676b 100%);
  background-size: 32px 8px, 32px 16px, 32px 16px;
  background-repeat: space no-repeat;
  background-position: center top, center 6px, center 6px;
}
.paper--alt {
  background-image: linear-gradient(90deg, #fff 12px, 0, #00486B 15px, 0, #1373A9 20px, 0, #fff 100%), radial-gradient(circle closest-side, rgba(255, 255, 255, 0) 88%, #fff 100%), radial-gradient(circle at 22px 8px, #1373A9 40%, #00486B 40%, #00486B 100%);
  background-image: url("data:image/svg+xml,%3Csvg fill='none' xmlns='http://www.w3.org/2000/svg' viewBox='0 0 32 21'%3E%3Cpath d='M20 0h-7v6.9a7.5 7.5 0 107 0V0z' fill='%231373A9'/%3E%3Cpath d='M13 0h3v6.9a7.5 7.5 0 002 14 7.5 7.5 0 01-9-7.4c0-2.9 1.6-5.4 4-6.6V0z' fill='%2300486B'/%3E%3C/svg%3E");
  background-size: 2em 1.3125em;
}

.my_nav {
  align-items: center;
  text-align: center;
  padding-top: 40px;
  margin-left: 4px;
  margin-right: 4px;
  margin-bottom: -20px;
}
.my_nav ul {
  display: inline-block;
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: rgba(0, 0, 0, 0);
}
.my_nav ul li a {
  display: block;
  font-family: var(--titlefont);
  color: black;
  font-size: 2em;
  text-align: center;
  padding: 7px 8px;
  text-decoration: underline;
  text-decoration-thickness: 3px;
}
.my_nav ul li {
  float: left;
}
.my_nav ul li a:hover {
  background-color: var(--darklightpurple);
  color: white;
}
.my_nav .signupbtn {
  background-color: var(--pink) !important;
  color: white;
}

.sticker {
  width: 60%;
  padding: 16px;
  border: 1px solid #ddd;
  background-size: cover;
  background-clip: content-box;
  background-color: black;
  box-sizing: border-box;
  position: relative;
  margin: auto;
  top: 30px;
  color: white;
  text-indent: 20px;
}
.sticker .sticker_img {
  background-image: url("img/warmup_event.jpg");
}
.sticker .sticker_texts {
  padding: 16px;
}
.sticker .sticker_texts #sticker_smalltext {
  margin-left: -16px;
  background-color: var(--pink);
  font-family: var(--titlefont);
}
.sticker .sticker_texts #sticker_bigtext {
  font-size: 52px;
  font-family: var(--font);
  text-shadow: 4px 4px var(--pink);
}

.sticker:after {
  content: "";
  display: block;
  position: absolute;
  border: 50px solid transparent;
  border-bottom: 50px solid #fefefe;
  bottom: -60px;
  right: -65px;
  box-shadow: 0px 7px 6px -9px black;
  transform: rotate(135deg);
}

.sticker:before {
  content: "";
  display: block;
  position: absolute;
  border: 50px solid transparent;
  border-top: 50px solid #fefefe;
  top: -60px;
  left: -65px;
  box-shadow: 0px -7px 6px -9px black;
  transform: rotate(135deg);
}

.sticker2 {
  width: 90%;
  border: 1px solid #ddd;
  background-size: cover;
  background-clip: content-box;
  background-repeat: no-repeat;
  box-sizing: border-box;
  position: relative;
  margin: auto;
  top: 30px;
  color: white;
  text-indent: 20px;
}
.sticker2 img {
  width: 100%;
  margin-left: -20px;
}

.sticker2:after {
  content: "";
  display: block;
  position: absolute;
  border: 50px solid transparent;
  border-bottom: 50px solid #fefefe;
  bottom: -60px;
  right: -65px;
  box-shadow: 0px 7px 6px -9px black;
  transform: rotate(135deg);
}

.sticker2:before {
  content: "";
  display: block;
  position: absolute;
  border: 50px solid transparent;
  border-top: 50px solid #fefefe;
  top: -60px;
  left: -65px;
  box-shadow: 0px -7px 6px -9px black;
  transform: rotate(135deg);
}/*# sourceMappingURL=style.css.map */